@use "../../scss/" as *;

.banner {
   height: 55vh;
   position: relative;
   background-position: 0 -90px;
   background-size: cover;
   background-repeat: no-repeat;
   &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include overlay();
   }
   &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100px;
      background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
   }
}
.movie-content {
   @include flex(flex-start, flex-start);
   max-width: 1260px;
   margin-left: auto;
   margin-right: auto;
   margin-top: -180px;
   position: relative;
   padding: 0 2rem;

   &__poster {
      flex: 1;
      @include mobile {
         display: none;
      }
      &__img {
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         border-radius: $border-radius;
         padding-top: 165%;
      }
   }
   &__info {
      width: 75%;
      padding-left: 3rem;
      position: relative;
      @include mobile {
         width: 100%;
         padding-left: 0;
      }
      & > * {
         margin-bottom: 2rem;
      }
      .title {
         font-size: 4rem;
         line-height: 1;
         font-weight: 700;
      }

      .genres {
         & > * ~ * {
            margin-left: 0.5rem;
         }
         &__item {
            padding: 0.5rem 1.5rem;
            border: 2px solid $white;
            border-radius: $border-radius;
            font-size: 0.8rem;
            font-weight: 700;
            background-color: $body-bg;
         }
      }
   }
}
.casts {
   margin-top: 1rem;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
   gap: 15px;

   &__item {
      cursor: pointer;
      &:hover &__img::before {
         opacity: 0;
      }
      &:hover &__name {
         color: $main-color;
      }
      &__img {
         border-radius: 6px;
         box-shadow: 0 0 5px 1px rgba($white, 0.1);
         padding-top: 160px;
         background-size: cover;
         margin-bottom: 0.5rem;
         transition: transform 0.5s ease;
         position: relative;
         &::before {
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($black, 0.2);
            position: absolute;
            opacity: 1;
            transition: opacity 0.3s ease;
         }
      }
      &__name {
         font-size: 0.9rem;
         font-weight: 600;
         transition: color 0.3s ease;
      }
   }
}
.video-wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-row: auto auto;
   grid-column-gap: 50px;
   grid-row-gap: 0px;
}
.video {
   margin-bottom: 3rem;

   &__title {
      margin-bottom: 1.5rem;
      text-align: left;
      width: 90%;
      font-size: .8rem;
   }
   iframe {
      margin: 0 auto !important;
   }
}
.container-skeleton{
   display: grid;
   grid-template-columns: 300px auto;
   gap: 50px;
   margin: 150px 100px;
}
.skeleton-item{
  display: block;
  border-radius: $border-radius;
}
.castSkeleton{
   width: 70%;
   display: grid;
   grid-template-columns: repeat(8,auto);
   gap: 0;
}